@using Books_Stock_Market.Models.ViewModels
@model RequestsViewModel

@{
    ViewData["Title"] = "Requests Page";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
        <div class="container" style="margin-top:8em;">
            <nav class="mb-3">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="incoming" data-bs-toggle="tab" data-bs-target="#nav-announcement" type="button" role="tab" aria-controls="nav-announcement" aria-selected="true">Announcements</button>
                <button class="nav-link" id="responds" data-bs-toggle="tab" data-bs-target="#nav-subjects" type="button" role="tab" aria-controls="nav-subjects" aria-selected="false">Subjects</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-announcement" role="tabpanel" aria-labelledby="nav-announcement-tab">
                  <div class="row">
                      @foreach(var item in Model.Announcements)
                      {
                        @if(!item.isChecked && !item.isRejected)
                        {
                            <div class="col-md-3 mt-5 mb-5">
                              <div class="card-sl h-100">
                                  <div class="card-image">
                                      <img
                                          src="@item.PhotoUrl" />
                                  </div>
                                  <a class="card-action" onclick="setId(@item.Id)" data-bs-toggle="modal" data-bs-target="#messageModal"><i class="fas fa-comments fa-lg"></i></a><br/>
                                  <div class="card-heading">
                                      <i class="fa-solid fa-book"></i> @item.Title (<i class="fa-solid fa-graduation-cap"></i> @item.GradeNumber)
                                  </div>
                                  <div class="card-text">
                                      <i class="fa-solid fa-chalkboard-user"></i> @item.Subject
                                  </div>
                                  <div class="card-text">
                                      <i class="fa-solid fa-user"></i> @item.Name
                                  </div>
                                  <div class="card-text">
                                      <i class="fa-solid fa-calendar-days"></i> @item.CreatedAt
                                  </div>
                                    @if(item.PhoneAgree)
                                    {
                                        <h6 class="test"> <i class="fa-solid fa-envelope"></i> @item.Email</h6> 
                                        <h6 class="test"> <i class="fa-solid fa-phone"></i> @item.PhoneNumber</h6>
                                    }
                                    else
                                    {
                                        <h6 class="test"> <i class="fa-solid fa-envelope"></i> @item.Email</h6> 
                                    }
                                    <div class="text-center mb-3"><a class="btn btn-success" asp-action="AcceptAnn" asp-route-id="@item.Id"><i class="fa-solid fa-circle-check fa-lg"></i></a> <a class="btn btn-danger" asp-action="RejectAnn" asp-route-id="@item.Id"><i class="fa-solid fa-circle-xmark fa-lg"></i></a></div>
                                </div>
                            </div>
                        }
                      }
                    </div>
                    </div>
                    <div class="tab-pane fade" id="nav-subjects" role="tabpanel" aria-labelledby="nav-subjects-tab">
                        <ul class="list-group"> 
                          @foreach(var item in Model.Subjects)
                          {
                            @if(!item.isChecked)
                            {
                                <li class="list-group-item">
                                    @item.SubjectName 

                                    <div class="float-end mb-3"><a class="btn btn-success" asp-action="AcceptSubject" asp-route-id="@item.Id"><i class="fa-solid fa-circle-check fa-lg"></i></a> <a class="btn btn-danger" asp-action="RejectSubject" asp-route-id="@item.Id"><i class="fa-solid fa-circle-xmark fa-lg"></i></a></div>
                                </li>
                            }
                          }
                        </ul>
                    </div>
            </div>
        </div>