@using Books_Stock_Market.Models.ViewModels
@model RequestsViewModel

@{
    ViewData["Title"] = "Requests Page";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}
        <div class="container" style="margin-top:8em;">
            <nav class="mb-3">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" id="incoming" data-bs-toggle="tab" data-bs-target="#nav-announcement" type="button" role="tab" aria-controls="nav-announcement" onclick="announceRequests()">Announcements</button>
                <button class="nav-link" id="responds" data-bs-toggle="tab" data-bs-target="#nav-subjects" type="button" role="tab" aria-controls="nav-subjects" onclick="subjectRequests()">Subjects</button>
                <button class="nav-link" id="offers" data-bs-toggle="tab" data-bs-target="#nav-offers" type="button" role="tab" aria-controls="offers" onclick="offerRequests()">Offers</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-announcement" role="tabpanel" aria-labelledby="nav-announcement-tab">
                  <div class="row">
                      @foreach(var item in Model.Announcements)
                      {
                            <div class="col-md-3 mt-5 mb-5">
                              <div class="card-sl h-100">
                                  <div class="card-image">
                                      <img
                                          src="@item.PhotoUrl" />
                                  </div>
                                  <div class="card-heading">
                                      <i class="fa-solid fa-book"></i> @item.Title (<i class="fa-solid fa-graduation-cap"></i> @item.GradeNumber)
                                  </div>
                                  <div class="card-text">
                                      <i class="fa-solid fa-chalkboard-user"></i> @item.Subject
                                  </div>
                                  <div class="card-text">
                                      <i class="fa-solid fa-user"></i> @item.Name
                                  </div>
                                  <div class="card-text">
                                      <i class="fa-solid fa-calendar-days"></i> @item.CreatedAt
                                  </div>
                                    @if(item.PhoneAgree)
                                    {
                                        <h6 class="test"> <i class="fa-solid fa-envelope"></i> @item.Email</h6> 
                                        <h6 class="test"> <i class="fa-solid fa-phone"></i> @item.PhoneNumber</h6>
                                    }
                                    else
                                    {
                                        <h6 class="test"> <i class="fa-solid fa-envelope"></i> @item.Email</h6> 
                                    }
                                    <div class="text-center mb-3"><a class="btn btn-success" asp-action="AcceptAnn" asp-route-id="@item.Id"><i class="fa-solid fa-circle-check fa-lg"></i></a> <a class="btn btn-danger" asp-action="RejectAnn" asp-route-id="@item.Id"><i class="fa-solid fa-circle-xmark fa-lg"></i></a></div>
                                </div>
                            </div>
                      }
                    </div>
                    </div>
                    <div class="tab-pane fade" id="nav-subjects" role="tabpanel" aria-labelledby="nav-subjects-tab">
                        <ul class="list-group"> 
                          @foreach(var item in Model.Subjects)
                          {
                               <li class="list-group-item">
                                   @item.SubjectName 
                               
                                   <div class="float-end mb-3"><a class="btn btn-success" asp-action="AcceptSubject" asp-route-id="@item.Id"><i class="fa-solid fa-circle-check fa-lg"></i></a> <a class="btn btn-danger" asp-action="RejectSubject" asp-route-id="@item.Id"><i class="fa-solid fa-circle-xmark fa-lg"></i></a></div>
                               </li>
                          }
                        </ul>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-offers" role="tabpanel" aria-labelledby="offers-tab">
                            <div class="row">
                                @foreach (var item in Model.Images)
                                {
                                    <div class="col-lg-3 col-md-6 mb-4 cardHid">
                                        <div class="card">
                                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                         data-mdb-ripple-color="light">
                                                <img src="~/img/OfferImages/@item.ImageName"
                                             class="w-100" />
                                                <a href="#!">
                                                    <div class="mask">
                                                        <div class="d-flex justify-content-start align-items-end h-100">
                                                            <h5><span class="badge bg-success ms-2"><i class="fa-solid fa-graduation-cap"></i> @item.Grade</span></h5>
                                                        </div>
                                                    </div>
                                                    <div class="hover-overlay">
                                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title mb-3 offtitle">@item.Title</h5>
                                                <p><i class="fa-solid fa-bars me-2"></i> @item.Description</p>
                                                <p><i class="fa-solid fa-book me-2"></i> @item.Subject</p>
                                                <h6 class="mb-3"><i class="fa-solid fa-coins me-2"></i> @item.Price zł</h6>
                                                <p class="mb-3"><i class="fa-solid fa-phone me-2"></i> @item.Email</p>
                                                <div class="text-center mb-3"><a class="btn btn-success" asp-action="AcceptOffer" asp-route-id="@item.Id"><i class="fa-solid fa-circle-check fa-lg"></i></a> <a class="btn btn-danger" asp-action="RejectOffer" asp-route-id="@item.Id"><i class="fa-solid fa-circle-xmark fa-lg"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
            </div>
            </div>
        </div>
            <script>
                function subjectRequests() {
                    localStorage.setItem('requestkey', 'subject');
                }
                function announceRequests() {
                    localStorage.setItem('requestkey', 'announce');
                }
                function offerRequests() {
                    localStorage.setItem('requestkey', 'offer');
                }
                function loaded() {
                    if (localStorage.getItem('requestkey') == 'announce') {

                        announceBtn.classList.add("active");
                        announceBtn.setAttribute('aria-checked', 'true');

                        announceTab.classList.add("show");
                        announceTab.classList.add("active");



                    } else if (localStorage.getItem('requestkey') == 'subject') {

                        subjectBtn.setAttribute('aria-checked', 'true');
                        subjectBtn.classList.add("active");

                        subjectsTab.classList.add("show");
                        subjectsTab.classList.add("active");

                    } else if (localStorage.getItem('requestkey') == 'offer') {

                        offerBtn.setAttribute('aria-checked', 'true');
                        offerBtn.classList.add("active");

                        offerTab.classList.add("show");
                        offerTab.classList.add("active");

                    }

                }

                var announceBtn = document.getElementById("incoming");
                var subjectBtn = document.getElementById("responds");
                var offerBtn = document.getElementById("offers");

                var announceTab = document.getElementById("nav-announcement")
                var subjectsTab = document.getElementById("nav-subjects")
                var offerTab = document.getElementById("nav-offers");

                document.onload = loaded();</script>